langchain
langgraph
langsmith
langchain-community
python-dotenv
langchain-groq
langchain-tavily
langchain-mcp-adapters
mcp
langgraph-cli[inmem]
langchain-tavily
torch
transformers
langchain-text-splitters