langchain
langgraph
langsmith
langchain-community
python-dotenv
langchain-groq
langchain-tavily
langchain-mcp-adapters
mcp
langgraph-cli[inmem]
langchain-tavily
langchain-text-splitters
scikit-learn
numpy
pillow
requests
torch
transformers 
sentence-transformers 
torchvision
torchaudio
langchain-google-genai